.user-block .username,
.user-block .description,
.user-block .comment {
  display: block;
  margin-left: 0px;
}
.dnnModuleManager.dnnSortable {
min-height:40px !important;

}
.kk_aj_loader {
  border: 16px solid #cccccc;
  border-radius: 50%;
  border-top: 16px solid #333333;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.kk_aj_topNav_user_menu {width:14vw;}

.dotlongtext {
   max-width: 180px;
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
    word-break:break-all;
}
/* margin fix till ingångarmenyn*/
.kk_aj_ansokanmenu{margin-left: 0px;}
.kk_aj_approveannons{display:none;}

/*fixa listan med roller i profilvyn på startsidan*/
.kk_aj_rolllist_ul{
  list-style: none;
  display: block;
  text-align: right;
  color:#666;
}
.kk_aj_rolllist{ overflow:hidden; }
.mailbox-attachment-info{ overflow:  hidden;word-break: break-all!important; margin-bottom:1rem;} 
.LoginPanel{margin-top:3rem;}
.form-group {
    overflow:hidden;
}

.markborderRed{border:1px solid red;}

.dataTables_wrapper {
    padding: 1rem;
    padding-top:2rem;
}
 .ui-tooltip-0{display:none;}


.table-responsive {
    overflow-x: inherit;
}
.kk_aj_pressentationsbildblock{display:none;}
.exempellistning{list-style: none;}
.exempellistning ul
{margin-left:0;
padding-left: 0px;  }
.exempellistning img{float:left;}
.kk_aj_stdmotivering li > a{padding:2px 4px;}
label[for=kk_aj_stdmotivering]{margin-left:2rem;}
#kk_aj_arrangorstod{max-width: 100%;}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
.kk_aj_chkboxAnnons{
    display:none;
}